.btn {
    display: inline-block;
    padding: 7px 20px 6px;
}

.btn-drak {
    background: #333;
    border: 1px solid #333;
    border: none;
    border-radius: 0;
}

.btn-text {
    color: #ddd;
    font-size: 1.6rem;
}