
.feature {
  background-color: #000;
  .feature__content {
    .feature__list {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      .nav-item {
        &:hover {
          a {
            color: $primary-main-setion;
          }
        }
        a {
          color: #fff;
          font-size: 1.3rem;
          padding: 0 1px;
          background: none;
          line-height: 3.8rem;
          transition: all 0.5s;
          margin: 0 16px;
          span {
            margin-left: 10px;
          }
        }
        .nav-link.active {
          color: $primary-main-setion;
          border-bottom: 1px solid $primary-main-setion;
        }
      }
    }
    .feauture-tab__content {
      .feauture-tab__pane {
        .feature__show {          
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 2px;
          .feature__card {
            position: relative;
            overflow: hidden;

            // .feature-video {
            //   position: relative;
            //   overflow: hidden;
            //   width: 100vw;
            //   height: 100vh;
            // }

            // .feature-video iframe {
            //   position: absolute;
            //   top: 50%;
            //   left: 50%;
            //   width: 100%;
            //   height: 100%;
            //   transform: translate(-50%, -50%);
            // }
            
            // @media (min-aspect-ratio: 16/9) {
            //   .feature-video iframe {
            //     /* height = 100 * (9 / 16) = 56.25 */
            //     height: 56.25vw;
            //   }
            // }
            // @media (max-aspect-ratio: 16/9) {
            //   .feature-video iframe {
            //     /* width = 100 / (9 / 16) = 177.777777 */
            //     width: 177.78vh;
            //   }
            // }
            
            .feature__video {
              height: 288px;
              @include Responsive(SM) {
                height: 400px;
              }
              iframe {
                
                position: relative;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%);
                transform: scale(120%);
                @include Responsive(SM) {
                  transform: scale(100%);
                }
              }
            }
            .feature__video-full {
              height: 100%;
              @include Responsive(SM) {
                height: 400px;
              }
              iframe {
                position: relative;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%);
                transform: scale(120%);
                @include Responsive(SM) {
                  transform: scale(100%);
                }
              }
            }

            .feature__overlay {
              background-color: rgba(0, 0, 0, 0.35);
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 150px;
              color: #FFF;
              opacity: 1;
              transition: all 0.5s;
              transform: translateY(100px);
              overflow: hidden;
              .feature__text {
                padding: 13px 30px 13px 30px;
                h4 {
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 2rem;
                  height: 2rem;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                }
                p {
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.6rem;
                  opacity: 0;
                  margin-top: 10px;
                  transition: all 0.5s;
                }
              }
            }
            &:hover .feature__overlay {
              transform: translateY(0);
              background-color: rgba(0, 0, 0, 0.7);
            }

            &:hover .feature__overlay p {
              opacity: 1;
            }
          }


          .feature__1 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            img {
              width: 100%;
              // height: 100%;
              
            }        
            }
          .feature__2 {
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
            img {
              width: 100%;
              // height: 100%;
              
            }
          }
          .feature__3 {
            grid-column: 4 / span 1;
            grid-row: 1 / span 1;
            img {
              width: 100%;
              // height: 100%;
              
            }
          } 
          .feature__4 {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            img {
              width: 100%;
              // height: 100%;
              
            }
          }
          .feature__5 {
            grid-column: 4 / span 1;
            grid-row: 2 / span 1;
            img {
              width: 100%;
              // height: 100%;
              
            }
          }
          .feature__6 {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          } 
          .feature__7 {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }
          .feature__8 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }
          .feature__9 {
            grid-column: 4 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }  
          .feature__10 {
            grid-column: 1 / span 2;
            grid-row: 4 / span 2;
            img {
              width: 100%;
              // height: 100%;
            }
          }  
          .feature__11 {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }  
          .feature__12 {
            grid-column: 4 / span 1;
            grid-row: 4 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }  
          .feature__13 {
            grid-column: 3 / span 1;
            grid-row: 5 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }  
          .feature__14 {
            grid-column: 4 / span 1;
            grid-row: 5 / span 1;
            img {
              width: 100%;
              // height: 100%;
            }
          }     

          @include Responsive(XL) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2px;
          .feature__card {
            position: relative;
            overflow: hidden;
            .feature__overlay {
              background-color: rgba(0, 0, 0, 0.35);
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 150px;
              color: #FFF;
              opacity: 1;
              transition: all 0.5s;
              transform: translateY(100px);
              overflow: hidden;
              .feature__text {
                padding: 13px 30px 13px 30px;
                h4 {
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 2rem;
                  height: 2rem;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                }
                p {
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.6rem;
                  opacity: 0;
                  margin-top: 10px;
                  transition: all 0.5s;
                }
              }
            }
            &:hover .feature__overlay {
              transform: translateY(0);
              background-color: rgba(0, 0, 0, 0.7);
            }

            &:hover .feature__overlay p {
              opacity: 1;
            }
          }


          .feature__1 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            img {
              width: 100%;
              height: 100%
            }        
            }
          .feature__2 {
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .feature__3 {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          } 
          .feature__4 {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .feature__5 {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .feature__6 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          } 
          .feature__7 {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .feature__8 {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .feature__9 {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }  
          .feature__10 {
            grid-column: 1 / span 2;
            grid-row: 5 / span 2;
            img {
              width: 100%;
              height: 100%;
            }
          }  
          .feature__11 {
            grid-column: 3 / span 1;
            grid-row: 5 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }  
          .feature__12 {
            grid-column: 3 / span 1;
            grid-row: 6 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }  
          .feature__13 {
            grid-column: 1 / span 1;
            grid-row: 7 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }  
          .feature__14 {
            grid-column: 2 / span 1;
            grid-row: 7 / span 1;
            img {
              width: 100%;
              height: 100%;
            }
          }  
          }

          @include Responsive(LG) {
                   
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2px;
            .feature__card {
              position: relative;
              overflow: hidden;
              .feature__overlay {
                background-color: rgba(0, 0, 0, 0.35);
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 150px;
                color: #FFF;
                opacity: 1;
                transition: all 0.5s;
                transform: translateY(100px);
                overflow: hidden;
                .feature__text {
                  padding: 13px 30px 13px 30px;
                  h4 {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 2rem;
                    height: 2rem;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                  }
                  p {
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                    opacity: 0;
                    margin-top: 10px;
                    transition: all 0.5s;
                  }
                }
              }
              &:hover .feature__overlay {
                transform: translateY(0);
                background-color: rgba(0, 0, 0, 0.7);
              }
  
              &:hover .feature__overlay p {
                opacity: 1;
              }
            }
  
  
            .feature__1 {
              grid-column: 1 / span 1;
              grid-row: 1 / span 1;
              img {
                width: 100%;
                height: 100%;
                 
              }        
            }
            .feature__2 {
              grid-column: 2 / span 1;
              grid-row: 1 / span 1;
              img {
                width: 100%;
                height: 100%;
                 
              }
            }
            .feature__3 {
              grid-column: 1 / span 1;
              grid-row: 2 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            } 
            .feature__4 {
              grid-column: 2 / span 1;
              grid-row: 2 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }
            .feature__5 {
              grid-column: 1 / span 1;
              grid-row: 3 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }
            .feature__6 {
              grid-column: 2 / span 1;
              grid-row: 3 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            } 
            .feature__7 {
              grid-column: 1 / span 1;
              grid-row: 4 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }
            .feature__8 {
              grid-column: 2 / span 1;
              grid-row: 4 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }
            .feature__9 {
              grid-column: 1 / span 1;
              grid-row: 5 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }  
            .feature__10 {
              grid-column: 2 / span 1;
              grid-row: 5 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }  
            .feature__11 {
              grid-column: 1 / span 1;
              grid-row: 6 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }  
            .feature__12 {
              grid-column: 2 / span 1;
              grid-row: 6 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }  
            .feature__13 {
              grid-column: 1 / span 1;
              grid-row: 7 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }  
            .feature__14 {
              grid-column: 2 / span 1;
              grid-row: 7 / span 1;
              img {
                width: 100%;
                height: 100%;
                
              }
            }    
          
          }

          @include Responsive(SM) {
                     
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 2px;
            .feature__card {
              position: relative;
              overflow: hidden;
              .feature__overlay {
                background-color: rgb(0, 0, 0);
                position: relative;
                bottom: 0;
                width: 100%;
                height: 75px;
                color: #FFF;
                opacity: 1;
                transition: all 0.5s;
                transform: translateY(0px);
                overflow: hidden;
                .feature__text {
                  padding: 13px 30px 13px 30px;
                  h4 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    height: 2.6rem;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                  }
                  p {
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                    opacity: 0;
                    margin-top: 10px;
                    transition: all 0.5s;
                  }
                }
              }
              &:hover .feature__overlay {
                transform: translateY(0);
                background-color: rgba(0, 0, 0, 0.7);
              }
  
              &:hover .feature__overlay p {
                opacity: 1;
              }
            }
  
  
            .feature__1 {
              grid-column: 1 / span 1;
              grid-row: 1 / span 1;
              img {
                width: 100%;
                height: auto;   
                height: auto;             
              }        
              }
            .feature__2 {
              grid-column: 1 / span 1;
              grid-row: 2 / span 1;
              img {
                width: 100%;
                height: auto;                
              }
            }
            .feature__3 {
              grid-column: 1 / span 1;
              grid-row: 3 / span 1;
              img {
                width: 100%;
                height: auto;                
              }
            } 
            .feature__4 {
              grid-column: 1 / span 1;
              grid-row: 4 / span 1;
              img {
                width: 100%;
                height: auto;                
              }
            }
            .feature__5 {
              grid-column: 1 / span 1;
              grid-row: 5 / span 1;
              img {
                width: 100%;
                height: auto;                
              }
            }
            .feature__6 {
              grid-column: 1 / span 1;
              grid-row: 6 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            } 
            .feature__7 {
              grid-column: 1 / span 1;
              grid-row: 7 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }
            .feature__8 {
              grid-column: 1 / span 1;
              grid-row: 8 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }
            .feature__9 {
              grid-column: 1 / span 1;
              grid-row: 9 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }  
            .feature__10 {
              grid-column: 1 / span 1;
              grid-row: 10 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }  
            .feature__11 {
              grid-column: 1 / span 1;
              grid-row: 11 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }  
            .feature__12 {
              grid-column: 1 / span 1;
              grid-row: 12 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }  
            .feature__13 {
              grid-column: 1 / span 1;
              grid-row: 13 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }  
            .feature__14 {
              grid-column: 1 / span 1;
              grid-row: 14 / span 1;
              img {
                width: 100%;
                height: auto;
              }
            }     
          
         }

        }

        

        
      }
    }
  }
  .feature__footer {
    text-align: center;
    .feature__btn {
      font-size: 1.4rem;
      background: #333;
      background: -webkit-gradient(linear,left top,left bottom,from(#303030),to(#202020));
      background: linear-gradient(#303030,#202020);
      border-color: #202020;
      border-style: solid;
      border-width: 1px;
      color: #999;
      line-height: 20px;
      padding: 6px 20px;
      margin-top: 40px;
      transition: all 0.5s;
      i {
        margin-right: 8px;
      }
      &:hover {
        cursor: pointer;
        color: #f0f0f0;
      }
    }
  }
}

