$primary-main-setion: #00adef;
$primary-main: #fff;
$primary-black: black;
$primary-backgorund_seach: #141414;
$primary-dark: #333;
$primary-header_left: #4dc6f4;
$primary-them-active: #0088c6;
$primary-footer: #999999;